.topic {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 900;
    line-height: 22px;
    text-transform: uppercase;
    .rectangle {
        width: 200px;
        height: 8px;
        background-color: #C63D0F;
        margin: 10px 0 10px 0;
    }
}
